// Colors

$color-primary: tomato;
$color-secondary: green;
$color-link: orange;
$color-pink: pink;
$nav-hover: yellow;
$color-black: black;
$color-button: #B517DF;
$color-light: lighten($nav-hover, 15%);


$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #009fe1;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

//  Media Query Breakpoints

$brkpoint-sm : 768px;
$break-narrow : '(max-width: 768px)';
$break-wide : '(max-width: 1024px)';